<!--
  Here, directives such as *ngIf are used again: first, to show nothing if the quiz isn’t loaded; secondly,
  to only display the app-question-form component if the showResults flag is false.

One thing to note about this component usage is the two different syntaxes used for the input (question)
and the output (onChoiceMade). This tells Angular which way to go—i.e., to the component, or from it. In other words,
do you use the component's input, or its output?

    <app-question-form
      [question]="quiz.questions[currentQuestionIndex]"
      (onChoiceMade)="updateChoice($event)">
    </app-question-form>

The bracket and parentheses match the decorators used in the component to define its API: @Input [brackets]
or @Output (parentheses). Also, the onChoiceMade is given a function, updateChoice, and a special argument, $event.
This $event will be bound to the actual choice made within the component and passed to the updateChoice function.
-->

<div class="quiz" *ngIf="quiz">
  <div class="questions" *ngIf="!showResults">
    <app-question-form
      [question]="quiz.questions[currentQuestionIndex]"
      (onChoiceMade)="updateChoice($event)"
    >
    </app-question-form>

    <button
      class="btn btn-success"
      (click)="nextOrViewResults()"
      [disabled]="!answers.values[currentQuestionIndex]"
    >
      {{
        currentQuestionIndex === quiz.questions.length - 1
          ? "View results"
          : "Next"
      }}
    </button>
  </div>
</div>
